# Código sección 1.2.3

In [1]:
students_rdd=sc.textFile('../data/students.tsv')

In [2]:
some_students = students_rdd.take(3)
print(some_students)

['1\tJohn\tDoe\tM\t18', '2\tMary\tDoe\tF\t20', '3\tLara\tCroft\tF\t25']

In [3]:
all_tsv_rdd = sc.textFile('../data/*.tsv')
print(all_tsv_rdd.take(100))

['1\tMath\t5.6', '2\tMath\t8.9', '3\tMath\t7.1', '4\tMath\t2.3', '5\tMath\t6.7', '7\tMath\t8.5', '8\tMath\t6.7', '9\tMath\t8.9', '10\tMath\t10.0', '1\tBiology\t4.5', '2\tBiology\t10.0', '4\tBiology\t6.7', '5\tBiology\t10.0', '9\tBiology\t7.8', '1\tEngineering\t7.7', '2\tEngineering\t6.7', '3\tEngineering\t4.3', '4\tEngineering\t8.0', '5\tEngineering\t9.0', '7\tEngineering\t8.5', '8\tEngineering\t3.4', '9\tEngineering\t4.3', '10\tEngineering\t10.0', '1\tPhysics\t2.3', '2\tPhysics\t6.7', '3\tPhysics\t5.7', '4\tPhysics\t6.6', '5\tPhysics\t4.5', '7\tPhysics\t8.9', '9\tPhysics\t5.0', '10\tPhysics\t3.3', '1\tJohn\tDoe\tM\t18', '2\tMary\tDoe\tF\t20', '3\tLara\tCroft\tF\t25', '4\tSherlock\tHolmes\tM\t36', '5\tJohn\tWatson\tM\t38', '6\tSarah\tKerrigan\tF\t21', '7\tBruce\tWayne\tM\t32', '8\tTony\tStark\tM\t33', '9\tPrincess\tPeach\tF\t21', '10\tPeter\tParker\tM\t23']

In [4]:
all_files_rdd=sc.wholeTextFiles('../data/')
print(all_files_rdd.take(2))

[('file:/home/alumno/projects/entornos/ui1-entornos-unidad2/data/grades.tsv', '1\tMath\t5.6\n2\tMath\t8.9\n3\tMath\t7.1\n4\tMath\t2.3\n5\tMath\t6.7\n7\tMath\t8.5\n8\tMath\t6.7\n9\tMath\t8.9\n10\tMath\t10.0\n1\tBiology\t4.5\n2\tBiology\t10.0\n4\tBiology\t6.7\n5\tBiology\t10.0\n9\tBiology\t7.8\n1\tEngineering\t7.7\n2\tEngineering\t6.7\n3\tEngineering\t4.3\n4\tEngineering\t8.0\n5\tEngineering\t9.0\n7\tEngineering\t8.5\n8\tEngineering\t3.4\n9\tEngineering\t4.3\n10\tEngineering\t10.0\n1\tPhysics\t2.3\n2\tPhysics\t6.7\n3\tPhysics\t5.7\n4\tPhysics\t6.6\n5\tPhysics\t4.5\n7\tPhysics\t8.9\n9\tPhysics\t5.0\n10\tPhysics\t3.3\n'), ('file:/home/alumno/projects/entornos/ui1-entornos-unidad2/data/students.tsv', '1\tJohn\tDoe\tM\t18\n2\tMary\tDoe\tF\t20\n3\tLara\tCroft\tF\t25\n4\tSherlock\tHolmes\tM\t36\n5\tJohn\tWatson\tM\t38\n6\tSarah\tKerrigan\tF\t21\n7\tBruce\tWayne\tM\t32\n8\tTony\tStark\tM\t33\n9\tPrincess\tPeach\tF\t21\n10\tPeter\tParker\tM\t23\n')]

In [5]:
grades_rdd = sc.textFile('../data/grades.tsv')

# Código sección 1.2.4

In [6]:
my_list = [x for x in range(0,1000000)]
my_rdd = sc.parallelize(my_list)

In [7]:
import random
random_rdd = sc.parallelize([random.random() for x in range(0,10000)])
random_rdd.take(2)

[0.5136907344169401, 0.9042142790907439]

# Código sección 1.3.1

In [8]:
students_list_rdd = students_rdd.map( lambda line : line.split('\t') )
print(students_list_rdd.take(3))

[['1', 'John', 'Doe', 'M', '18'], ['2', 'Mary', 'Doe', 'F', '20'], ['3', 'Lara', 'Croft', 'F', '25']]

In [9]:
def splitLineIntoList(line):
    return line.split('\t')

In [10]:
students_list_rdd = students_rdd.map( splitLineIntoList )

In [11]:
students_list_rdd.take(4)

[['1', 'John', 'Doe', 'M', '18'],
 ['2', 'Mary', 'Doe', 'F', '20'],
 ['3', 'Lara', 'Croft', 'F', '25'],
 ['4', 'Sherlock', 'Holmes', 'M', '36']]

In [12]:
def convertStudentList(student_list):
    new_list = list(student_list)
    new_list[0] = int(new_list[0])
    new_list[4] =  int(new_list[4])
    return new_list

In [13]:
students_list_rdd = students_list_rdd.map(convertStudentList)

In [14]:
students_teen_rdd = students_list_rdd.map(lambda student: student + [student[4]>=10 and student[4]<20])
students_proj_rdd = students_list_rdd.map(lambda student: [student[0], student[1]])
students_fullname_rdd = students_list_rdd.map(lambda student: [student[0], student[1] + " " + student[2], student[3], student[4]])
print(students_teen_rdd.take(2), students_proj_rdd.take(2), students_fullname_rdd.take(2))

[[1, 'John', 'Doe', 'M', 18, True], [2, 'Mary', 'Doe', 'F', 20, False]] [[1, 'John'], [2, 'Mary']] [[1, 'John Doe', 'M', 18], [2, 'Mary Doe', 'F', 20]]

In [15]:
def convertGradeList(grade_line):
    grade_list = grade_line.split('\t')
    grade_list[0] = int(grade_list[0])
    grade_list[2] = float(grade_list[2])
    return grade_list

grades_list_rdd = grades_rdd.map(convertGradeList)
grades_list_rdd.take(2)

[[1, 'Math', 5.6], [2, 'Math', 8.9]]

In [16]:
students_list_mod_rdd = students_list_rdd.map(lambda student: student + [student[4]<25])
students_list_mod_rdd.take(3)

[[1, 'John', 'Doe', 'M', 18, True],
 [2, 'Mary', 'Doe', 'F', 20, True],
 [3, 'Lara', 'Croft', 'F', 25, False]]

In [17]:
words_rdd = students_rdd.flatMap(lambda student: student.split('\t'))
words_rdd.take(10)

['1', 'John', 'Doe', 'M', '18', '2', 'Mary', 'Doe', 'F', '20']

# Código sección 1.3.2

In [18]:
male_students_rdd = students_list_rdd.filter(lambda student: student[3] == 'M')
male_students_rdd.collect()

[[1, 'John', 'Doe', 'M', 18],
 [4, 'Sherlock', 'Holmes', 'M', 36],
 [5, 'John', 'Watson', 'M', 38],
 [7, 'Bruce', 'Wayne', 'M', 32],
 [8, 'Tony', 'Stark', 'M', 33],
 [10, 'Peter', 'Parker', 'M', 23]]

In [19]:
engineering_grades = grades_list_rdd.filter(lambda grade: grade[1] == 'Engineering')
engineering_grades.take(2)

[[1, 'Engineering', 7.7], [2, 'Engineering', 6.7]]

In [20]:
female_students_rdd = students_list_rdd.filter(lambda student: student[3] == 'F')
female_names_rdd = female_students_rdd.map( lambda student: student[1] )
female_names_rdd.take(2)

['Mary', 'Lara']

In [21]:
honors_grades_rdd = grades_list_rdd.filter(lambda grade: grade[2] == 10)
modules_honors_rdd = honors_grades_rdd.map(lambda grade: grade[1])
set(modules_honors_rdd.collect())

{'Biology', 'Engineering', 'Math'}

# Código sección 1.3.3

In [22]:
age_sum = students_list_rdd.map(lambda student: student[4]).reduce(lambda a,b: a+b)
print(age_sum)

267

In [23]:
max_age = students_list_rdd.map(lambda student: student[4]).reduce(lambda a,b: max(a,b))
print(max_age)

38

# Código sección 1.3.4

In [24]:
distinct_modules_rdd = grades_list_rdd.map(lambda grade: grade[1]).distinct()
distinct_modules_rdd.collect()

['Math', 'Biology', 'Engineering', 'Physics']

In [25]:
distinct_grades_rdd = grades_list_rdd.map(lambda grade: int(grade[2])).distinct()
distinct_grades_rdd.collect()

[5, 8, 7, 2, 6, 10, 4, 9, 3]

# Código sección 1.3.5

In [26]:
only_grades_rdd = grades_list_rdd.map(lambda grade: grade[2])
number_grades = only_grades_rdd.count()
grades_by_value = only_grades_rdd.countByValue()
min_grade = only_grades_rdd.min()
max_grade = only_grades_rdd.max()
sum_grades = only_grades_rdd.sum()
mean_grade = only_grades_rdd.mean()
var_grade = only_grades_rdd.variance()
histogram_grades = only_grades_rdd.histogram(4)
print(number_grades,  grades_by_value, min_grade, max_grade, sum_grades, mean_grade, var_grade, histogram_grades)
sorted_rdd = grades_list_rdd.sortBy(lambda grade: grade[2], ascending=False)
print(sorted_rdd.collect())

31 defaultdict(<class 'int'>, {5.6: 1, 8.9: 3, 7.1: 1, 2.3: 2, 6.7: 5, 8.5: 2, 10.0: 4, 4.5: 2, 7.8: 1, 7.7: 1, 4.3: 2, 8.0: 1, 9.0: 1, 3.4: 1, 5.7: 1, 6.6: 1, 5.0: 1, 3.3: 1}) 2.3 10.0 208.60000000000002 6.7290322580645165 5.20528616024974 ([2.3, 4.225, 6.15, 8.075, 10.0], [4, 7, 10, 10])
[[10, 'Math', 10.0], [2, 'Biology', 10.0], [5, 'Biology', 10.0], [10, 'Engineering', 10.0], [5, 'Engineering', 9.0], [2, 'Math', 8.9], [9, 'Math', 8.9], [7, 'Physics', 8.9], [7, 'Math', 8.5], [7, 'Engineering', 8.5], [4, 'Engineering', 8.0], [9, 'Biology', 7.8], [1, 'Engineering', 7.7], [3, 'Math', 7.1], [5, 'Math', 6.7], [8, 'Math', 6.7], [4, 'Biology', 6.7], [2, 'Engineering', 6.7], [2, 'Physics', 6.7], [4, 'Physics', 6.6], [3, 'Physics', 5.7], [1, 'Math', 5.6], [9, 'Physics', 5.0], [1, 'Biology', 4.5], [5, 'Physics', 4.5], [3, 'Engineering', 4.3], [9, 'Engineering', 4.3], [8, 'Engineering', 3.4], [10, 'Physics', 3.3], [4, 'Math', 2.3], [1, 'Physics', 2.3]]

# Código sección 1.3.6

In [27]:
sampled_students_rdd = students_list_rdd.sample(False, 0.5)
sampled_students_rdd.collect()

[[4, 'Sherlock', 'Holmes', 'M', 36],
 [6, 'Sarah', 'Kerrigan', 'F', 21],
 [7, 'Bruce', 'Wayne', 'M', 32]]

In [28]:
sampled_students_rdd = students_list_rdd.sample(True, 0.7)
sampled_students_rdd.collect()

[[1, 'John', 'Doe', 'M', 18],
 [2, 'Mary', 'Doe', 'F', 20],
 [3, 'Lara', 'Croft', 'F', 25],
 [3, 'Lara', 'Croft', 'F', 25],
 [4, 'Sherlock', 'Holmes', 'M', 36],
 [4, 'Sherlock', 'Holmes', 'M', 36],
 [8, 'Tony', 'Stark', 'M', 33],
 [9, 'Princess', 'Peach', 'F', 21]]

In [29]:
list_rdds = students_list_rdd.randomSplit([0.5, 0.5])
print(list_rdds[0].collect())
print(list_rdds[1].collect())

[[1, 'John', 'Doe', 'M', 18], [2, 'Mary', 'Doe', 'F', 20], [5, 'John', 'Watson', 'M', 38], [6, 'Sarah', 'Kerrigan', 'F', 21], [8, 'Tony', 'Stark', 'M', 33]]
[[3, 'Lara', 'Croft', 'F', 25], [4, 'Sherlock', 'Holmes', 'M', 36], [7, 'Bruce', 'Wayne', 'M', 32], [9, 'Princess', 'Peach', 'F', 21], [10, 'Peter', 'Parker', 'M', 23]]

In [30]:
sampled_grades_rdd = grades_list_rdd.sample(True, 2)
list_grades_rdds = grades_list_rdd.randomSplit([0.5, 0.25, 0.25])

# Código sección 1.3.7

In [31]:
students_pair_rdd = students_list_rdd.map( lambda student: (student[0], student[1:]) )
print(students_pair_rdd.take(3))

[(1, ['John', 'Doe', 'M', 18]), (2, ['Mary', 'Doe', 'F', 20]), (3, ['Lara', 'Croft', 'F', 25])]

In [32]:
grades_pair_rdd = grades_list_rdd.map( lambda grade: (grade[0], grade[1:]) )
print(grades_pair_rdd.take(3))

[(1, ['Math', 5.6]), (2, ['Math', 8.9]), (3, ['Math', 7.1])]

In [33]:
students_names_pair_rdd = students_pair_rdd.mapValues( lambda student: student[0] + " " + student[1] )
print("MapValue result example")
print(students_names_pair_rdd.take(3))
students_max_age_per_gender_rdd = students_list_rdd.map( lambda student: (student[3], student[4]) ).reduceByKey( lambda a,b: a if a>b else b )
print("ReduceByKey result example")
print(students_max_age_per_gender_rdd.collect())
students_per_gender_rdd = students_list_rdd.map( lambda student: (student[3],  student )).groupByKey()
print("GroupByKey result example")
print([ (x,list(y))  for (x,y) in students_per_gender_rdd.collect() ])
students_count_per_gender_rdd = students_list_rdd.map( lambda student: (student[3], 1)).countByKey()
print("CountByKey result example")
print( students_count_per_gender_rdd )
grades_sorted_rdd = grades_list_rdd.map(lambda grade: (grade[1], grade)).sortByKey(ascending=True)
print("SortByKey example")
print( grades_sorted_rdd.collect() )

MapValue result example
[(1, 'John Doe'), (2, 'Mary Doe'), (3, 'Lara Croft')]
ReduceByKey result example
[('M', 38), ('F', 25)]
GroupByKey result example
[('M', [[1, 'John', 'Doe', 'M', 18], [4, 'Sherlock', 'Holmes', 'M', 36], [5, 'John', 'Watson', 'M', 38], [7, 'Bruce', 'Wayne', 'M', 32], [8, 'Tony', 'Stark', 'M', 33], [10, 'Peter', 'Parker', 'M', 23]]), ('F', [[2, 'Mary', 'Doe', 'F', 20], [3, 'Lara', 'Croft', 'F', 25], [6, 'Sarah', 'Kerrigan', 'F', 21], [9, 'Princess', 'Peach', 'F', 21]])]
CountByKey result example
defaultdict(<class 'int'>, {'M': 6, 'F': 4})
SortByKey example
[('Biology', [1, 'Biology', 4.5]), ('Biology', [2, 'Biology', 10.0]), ('Biology', [4, 'Biology', 6.7]), ('Biology', [5, 'Biology', 10.0]), ('Biology', [9, 'Biology', 7.8]), ('Engineering', [1, 'Engineering', 7.7]), ('Engineering', [2, 'Engineering', 6.7]), ('Engineering', [3, 'Engineering', 4.3]), ('Engineering', [4, 'Engineering', 8.0]), ('Engineering', [5, 'Engineering', 9.0]), ('Engineering', [7, 'Engineering', 8.5]), ('Engineering', [8, 'Engineering', 3.4]), ('Engineering', [9, 'Engineering', 4.3]), ('Engineering', [10, 'Engineering', 10.0]), ('Math', [1, 'Math', 5.6]), ('Math', [2, 'Math', 8.9]), ('Math', [3, 'Math', 7.1]), ('Math', [4, 'Math', 2.3]), ('Math', [5, 'Math', 6.7]), ('Math', [7, 'Math', 8.5]), ('Math', [8, 'Math', 6.7]), ('Math', [9, 'Math', 8.9]), ('Math', [10, 'Math', 10.0]), ('Physics', [1, 'Physics', 2.3]), ('Physics', [2, 'Physics', 6.7]), ('Physics', [3, 'Physics', 5.7]), ('Physics', [4, 'Physics', 6.6]), ('Physics', [5, 'Physics', 4.5]), ('Physics', [7, 'Physics', 8.9]), ('Physics', [9, 'Physics', 5.0]), ('Physics', [10, 'Physics', 3.3])]

In [34]:
surnames_count = students_list_rdd.map( lambda student: (student[2], 1) ).countByKey()
print(surnames_count)

defaultdict(<class 'int'>, {'Doe': 2, 'Croft': 1, 'Holmes': 1, 'Watson': 1, 'Kerrigan': 1, 'Wayne': 1, 'Stark': 1, 'Peach': 1, 'Parker': 1})

In [35]:
avg_marks_per_student_rdd = grades_list_rdd.map( lambda grade: (grade[0], (grade[2],1) ) ).reduceByKey( lambda a,b: (a[0]+b[0], a[1]+b[1]) ).mapValues( lambda avg: avg[0]/avg[1] )
print(avg_marks_per_student_rdd.collect())

[(1, 5.025), (2, 8.075), (3, 5.699999999999999), (4, 5.9), (5, 7.55), (7, 8.633333333333333), (8, 5.05), (9, 6.5), (10, 7.766666666666667)]

# Código sección 1.4.1

In [36]:
rdd1 = sc.parallelize( [1,1,2,3,5] )
rdd2 = sc.parallelize( [0,2,5,6,5 ] )
union_rdd = rdd1.union(rdd2)
intersection_rdd = rdd1.intersection(rdd2)
difference_rdd = rdd1.subtract(rdd2)
print(union_rdd.collect())
print(intersection_rdd.collect())
print(difference_rdd.collect())

[1, 1, 2, 3, 5, 0, 2, 5, 6, 5]
[2, 5]
[1, 1, 3]

# Código sección 1.4.2

In [37]:
students_grades_rdd = students_pair_rdd.join(grades_pair_rdd)
students_grades_rdd.collect()

[(2, (['Mary', 'Doe', 'F', 20], ['Math', 8.9])),
 (2, (['Mary', 'Doe', 'F', 20], ['Biology', 10.0])),
 (2, (['Mary', 'Doe', 'F', 20], ['Engineering', 6.7])),
 (2, (['Mary', 'Doe', 'F', 20], ['Physics', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Math', 2.3])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Biology', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Engineering', 8.0])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Physics', 6.6])),
 (8, (['Tony', 'Stark', 'M', 33], ['Math', 6.7])),
 (8, (['Tony', 'Stark', 'M', 33], ['Engineering', 3.4])),
 (10, (['Peter', 'Parker', 'M', 23], ['Math', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Engineering', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Physics', 3.3])),
 (1, (['John', 'Doe', 'M', 18], ['Math', 5.6])),
 (1, (['John', 'Doe', 'M', 18], ['Biology', 4.5])),
 (1, (['John', 'Doe', 'M', 18], ['Engineering', 7.7])),
 (1, (['John', 'Doe', 'M', 18], ['Physics', 2.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Math', 7.1])),
 (3, (['Lara', 'Croft', 'F', 25], ['Engineering', 4.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Physics', 5.7])),
 (5, (['John', 'Watson', 'M', 38], ['Math', 6.7])),
 (5, (['John', 'Watson', 'M', 38], ['Biology', 10.0])),
 (5, (['John', 'Watson', 'M', 38], ['Engineering', 9.0])),
 (5, (['John', 'Watson', 'M', 38], ['Physics', 4.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Math', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Engineering', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Physics', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Math', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Biology', 7.8])),
 (9, (['Princess', 'Peach', 'F', 21], ['Engineering', 4.3])),
 (9, (['Princess', 'Peach', 'F', 21], ['Physics', 5.0]))]

In [38]:
students_grades_rdd = students_pair_rdd.leftOuterJoin(grades_pair_rdd)
students_grades_rdd.collect()

[(2, (['Mary', 'Doe', 'F', 20], ['Math', 8.9])),
 (2, (['Mary', 'Doe', 'F', 20], ['Biology', 10.0])),
 (2, (['Mary', 'Doe', 'F', 20], ['Engineering', 6.7])),
 (2, (['Mary', 'Doe', 'F', 20], ['Physics', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Math', 2.3])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Biology', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Engineering', 8.0])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Physics', 6.6])),
 (6, (['Sarah', 'Kerrigan', 'F', 21], None)),
 (8, (['Tony', 'Stark', 'M', 33], ['Math', 6.7])),
 (8, (['Tony', 'Stark', 'M', 33], ['Engineering', 3.4])),
 (10, (['Peter', 'Parker', 'M', 23], ['Math', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Engineering', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Physics', 3.3])),
 (1, (['John', 'Doe', 'M', 18], ['Math', 5.6])),
 (1, (['John', 'Doe', 'M', 18], ['Biology', 4.5])),
 (1, (['John', 'Doe', 'M', 18], ['Engineering', 7.7])),
 (1, (['John', 'Doe', 'M', 18], ['Physics', 2.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Math', 7.1])),
 (3, (['Lara', 'Croft', 'F', 25], ['Engineering', 4.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Physics', 5.7])),
 (5, (['John', 'Watson', 'M', 38], ['Math', 6.7])),
 (5, (['John', 'Watson', 'M', 38], ['Biology', 10.0])),
 (5, (['John', 'Watson', 'M', 38], ['Engineering', 9.0])),
 (5, (['John', 'Watson', 'M', 38], ['Physics', 4.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Math', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Engineering', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Physics', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Math', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Biology', 7.8])),
 (9, (['Princess', 'Peach', 'F', 21], ['Engineering', 4.3])),
 (9, (['Princess', 'Peach', 'F', 21], ['Physics', 5.0]))]

In [39]:
students_grades_rdd = students_pair_rdd.rightOuterJoin(grades_pair_rdd)
students_grades_rdd.collect()

[(2, (['Mary', 'Doe', 'F', 20], ['Math', 8.9])),
 (2, (['Mary', 'Doe', 'F', 20], ['Biology', 10.0])),
 (2, (['Mary', 'Doe', 'F', 20], ['Engineering', 6.7])),
 (2, (['Mary', 'Doe', 'F', 20], ['Physics', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Math', 2.3])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Biology', 6.7])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Engineering', 8.0])),
 (4, (['Sherlock', 'Holmes', 'M', 36], ['Physics', 6.6])),
 (8, (['Tony', 'Stark', 'M', 33], ['Math', 6.7])),
 (8, (['Tony', 'Stark', 'M', 33], ['Engineering', 3.4])),
 (10, (['Peter', 'Parker', 'M', 23], ['Math', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Engineering', 10.0])),
 (10, (['Peter', 'Parker', 'M', 23], ['Physics', 3.3])),
 (1, (['John', 'Doe', 'M', 18], ['Math', 5.6])),
 (1, (['John', 'Doe', 'M', 18], ['Biology', 4.5])),
 (1, (['John', 'Doe', 'M', 18], ['Engineering', 7.7])),
 (1, (['John', 'Doe', 'M', 18], ['Physics', 2.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Math', 7.1])),
 (3, (['Lara', 'Croft', 'F', 25], ['Engineering', 4.3])),
 (3, (['Lara', 'Croft', 'F', 25], ['Physics', 5.7])),
 (5, (['John', 'Watson', 'M', 38], ['Math', 6.7])),
 (5, (['John', 'Watson', 'M', 38], ['Biology', 10.0])),
 (5, (['John', 'Watson', 'M', 38], ['Engineering', 9.0])),
 (5, (['John', 'Watson', 'M', 38], ['Physics', 4.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Math', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Engineering', 8.5])),
 (7, (['Bruce', 'Wayne', 'M', 32], ['Physics', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Math', 8.9])),
 (9, (['Princess', 'Peach', 'F', 21], ['Biology', 7.8])),
 (9, (['Princess', 'Peach', 'F', 21], ['Engineering', 4.3])),
 (9, (['Princess', 'Peach', 'F', 21], ['Physics', 5.0]))]

En este caso, el resultado es idéntico al de la operación de join ya que no hay claves en el RDD de notas que no aparezcan en el RDD de estudiantes.

In [40]:
rdd1 = sc.parallelize( ["o1", "o2", "o3", "o4"] )
rdd2 = sc.parallelize( ["o5", "o6"] )
cartesian_rdd = rdd1.cartesian(rdd2)
cartesian_rdd.collect()

[('o1', 'o5'),
 ('o1', 'o6'),
 ('o2', 'o5'),
 ('o2', 'o6'),
 ('o3', 'o5'),
 ('o3', 'o6'),
 ('o4', 'o5'),
 ('o4', 'o6')]

# Código sección 1.5

In [ ]:
students_pair_rdd.saveAsTextFile("../data/student_pair/")

In [ ]:
students_fullname_rdd.map(lambda student: "\t".join([str(field) for field in student])).saveAsTextFile("../data/student_fullname")

# Código sección 1.6

In [71]:
import random
import pyspark
import math

#Read grades RDD
grades_rdd = sc.textFile('../data/grades.tsv')
#Number of groups for dividing students
number_of_groups = 2
#Creates PairRDD with format (student_id, (mark, 1) )
grades_pair_rdd = grades_rdd.map(lambda l: l.split('\t')).map(lambda g: (g[0], (float(g[2]), 1) ))
#Create PairRDD with format (student_id, average_mark_for_student)
grades_pair_avg_rdd = grades_pair_rdd.reduceByKey(lambda a,b: (a[0]+b[0],a[1]+b[1]) ).mapValues(lambda s: s[0]/s[1] )
#We cache the RDD into memory
grades_pair_avg_rdd.persist(pyspark.StorageLevel.MEMORY_AND_DISK)
#We create a group RDD with format (group_id, student_id)
groups_rdd = grades_pair_avg_rdd.map( lambda s: (random.randint(1, number_of_groups), s[0]) )

iterations = 0
change = True
total_students = groups_rdd.count()

while iterations < 10 and change :
    #These two operations calculate PairRDD with format (group_id, average_mark_of_group)
    group_avg_grades_rdd = groups_rdd.map( lambda g: (g[1], g[0]) ).join(grades_pair_avg_rdd).map( lambda g: (g[1][0], g[1][1]) )
    group_avg_grades_rdd = group_avg_grades_rdd.mapValues( lambda g: (g, 1) ).reduceByKey( lambda a,b :(a[0]+b[0], a[1]+b[1]) ).mapValues(lambda g: g[0]/g[1])
    #Cartesian product of groups with format ( (student_id, average_mark_student), (group_id, average_mark_group) )
    new_groups_rdd = grades_pair_avg_rdd.cartesian(group_avg_grades_rdd)
    #Change RDD to have format  (student_id, (distance_marks, group_id) ) 
    new_groups_rdd = new_groups_rdd.map( lambda t: (t[0][0], (abs(t[0][1]-t[1][1]), t[1][0]) ) )
    #Calculate the closes group by reducing by minimum distance. Then change format of tuples to (group_id, student_id)
    new_groups_rdd = new_groups_rdd.reduceByKey( lambda a,b : a if a[0]<b[0] else b ).map( lambda t: (t[1][1], t[0]) )
    #Calculate common group membership with previous solution
    common_membership=groups_rdd.intersection(new_groups_rdd).count()
    if common_membership == total_students : #All are the same
        change = False
    groups_rdd = new_groups_rdd
    iterations=iterations+1
    
groups_rdd.collect()

[(2, '2'),
 (1, '4'),
 (1, '1'),
 (1, '3'),
 (1, '8'),
 (1, '9'),
 (2, '10'),
 (2, '5'),
 (2, '7')]

# Código sección 1.7

In [76]:
x = 200
new_students_rdd = students_list_rdd.map( lambda student: student[0:-1] + [student[-1]+x] )
new_students_rdd.take(2)

[[1, 'John', 'Doe', 'M', 218], [2, 'Mary', 'Doe', 'F', 220]]

In [80]:
x = sc.broadcast(200)
new_students_rdd = students_list_rdd.map( lambda student: student[0:-1] + [student[-1]+x.value] )
new_students_rdd = new_students_rdd.map( lambda student: student[0:-1] + [student[-1]+x.value] )
result = new_students_rdd.take(2)
x.unpersist()
x.destroy()
print(result)

[[1, 'John', 'Doe', 'M', 418], [2, 'Mary', 'Doe', 'F', 420]]